* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #111;
  padding: 10px 20px;
  color: white;
}
.logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.menu {
  display: flex;
  align-items: center;
  gap: 15px;
}
.btn {
  text-decoration: none;
  color: white;
  padding: 8px 14px;
  border-radius: 4px;
  transition: 0.2s;
  background: transparent;
  border: 1px solid transparent;
}
.btn:hover {
  background: orange;
  color: black;
}
.admin-menu {
  display: flex;
  gap: 10px;
}
.logout-btn {
  background: black;
  color: white;
  border: 1px solid white;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.2s;
}
.logout-btn:hover {
  background: orange;
  color: black;
}
